<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Book Shop | {{title}}</title>
  <link rel="icon" type="image/x-icon" href="/assets/icon/book.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="css/sb-admin-2.min.css" rel="stylesheet" />
<style>

  {{> sb-admin-2.min}}
</style>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-light bg-success topbar mb-4 static-top shadow justify-content-center">
    <div class="text-light text-start " style="width: 50%;">
      {{#if Username}}
          <span  class="fw-bold fs-5" >{{Username}}</span>
      {{/if}}
      </div>


    <a class="nav-link" href="/signup">
      <button class="btn btn-outline-light  btn-md" style="display: flex; align-items:center; height: 100%; width: 110px;"
        type="button">
        <i class="fas fa-user-plus"></i>
        <div class="ml-1"> Đăng ký</div>

      </button>
    </a>

    <a class="nav-link" href="/login-admin">
      <button class="btn btn-outline-light  btn-md" style="display: flex; align-items:center; height: 100%; width: 160px;"
        type="button">
        <i class="fas fa-user-cog"></i>
        <div class="ml-1"> Đăng nhập quyền admin</div>
      </button>
    </a>

    <a class="nav-link" href="/login">
      <button class="btn btn-outline-light  btn-md" style="display: flex; align-items:center; height: 100%; width: 125px;"
        type="button">
        <i class="fa-solid fa-right-to-bracket"></i>
        <div class="ml-1"> Đăng nhập</div>
      </button>
    </a>

    <a class="nav-link" href="/logout">
      <button class="btn btn-outline-light  btn-md" style="display: flex; align-items:center; height: 100%; width: 120px;"
        type="button">

        <i class="fa-solid fa-right-from-bracket"></i>
        <div class="ml-1"> Đăng xuất</div>
      </button>

    </a>
  </nav>

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <!-- LOGO -->
        <div class="sidebar-brand-text mx-3">
          <span style="font-size: 1.2rem">Book Store</span>
          <span style="font-size: 0.8rem">(client)</span>
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Heading -->
      <div class="sidebar-heading mt-3" style="font-size: 1rem">Cửa hàng</div>

      <li class="nav-item">
        <a class="nav-link collapsed fw-bold" href="/?page=1">
          <i class="fa-solid fa-book "></i>
          <span>Sản phẩm</span>
        </a>
      </li>

       <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed fw-bold" href="/hotBook">
          <i class="fa-solid fa-fire"></i>
          <span>Sản phẩm bán chạy</span>
        </a>
      </li> 

       <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading mt-3" style="font-size: 1rem">
        Giỏ hàng
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed fw-bold" href="/cartBook">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Giỏ hàng</span>
        </a>
      </li>

     
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />
      <div class="sidebar-heading mt-3" style="font-size: 1rem">
        Tài khoản
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed fw-bold" href="/profile">
          <i class="fa-solid fa-user"></i>
          <span>Hồ sơ</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed fw-bold" href="/topUp">
          <i class="fa-solid fa-dollar-sign"></i>
          <span>Nạp tiền</span>
        </a>
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link text-success rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <h1 class="h5 w-100 fw-bold mb-0 text-gray-800 text-center">{{title}}</h1>
          <!-- Topbar Navbar -->
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          {{{body}}}
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white p-2">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Book Shop Website 2023</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <script src="/js/jquery/jquery.min.js"></script>
  <script src="js/sb-admin-2.min.js"></script>
</body>

</html>