<div class="container">
  <form class="d-flex flex-column">
    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Ngày Nhập: </label>
      <input type="date" class="form-control col-5" />
    </div>
    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Tên Sách: </label>
      <input
        type="text"
        class="form-control col"
        placeholder="Nhập tên sách"
        required
      />
    </div>

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Thể loại: </label>
      <input
        type="text"
        class="form-control col-6"
        placeholder="Nhập thể loại"
        required
      />
      <label class="form-label col-1 m-0">Số lượng: </label>
      <input
        type="number"
        class="form-control col-2"
        placeholder="Nhập số lượng"
        required
      />
    </div>

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Tác giả: </label>
      <input
        type="text"
        class="form-control col"
        placeholder="Nhập tác giả"
        required
      />
    </div>
    <button type="submit" class="align-self-end d-block btn btn-primary">Nhập
      sách</button>
  </form>
</div>