<div class="container">
  <form class="d-flex flex-column">

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">ID: </label>
      <input
        type="text"
        class="form-control col-6"
        placeholder="Nhập ID danh mục"
        name = "categoryID"
        required
      />
    </div>

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Ngày nhập: </label>
      <input name="importDate" id="datepicker" type="date" class="form-control col-6" />
    </div>

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Tên danh mục: </label>
      <input
        type="text"
        class="form-control col-6"
        placeholder="Nhập tên danh mục"
        name = "categoryName"
        required
      />
    </div>

    <button type="submit" class="align-self-center d-block btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Lưu
      danh mục</button>
  </form>
     <script>
        document.getElementById('datepicker').valueAsDate = new Date();
    </script>
</div>