<div class="container">
  <form class="d-flex flex-column">

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">ID: </label>
      <input
        type="text"
        class="form-control col-6"
        placeholder="Nhập id thể loại"
        name = "categoryID"
        value= "{{CategoryID}}"
        required
      />
    </div>

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Thể loại: </label>
      <input
        type="text"
        class="form-control col-6"
        placeholder="Nhập thể loại"
        name = "categoryName"
        value = "{{CategoryName}}"
        required
      />
    </div>
    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Số sản phẩm: </label>
      <input
        type="text"
        class="form-control col-6"
        placeholder="Nhập số sản phẩm"
        name = "categoryQuantity"
        value = "{{CategoryQuantity}}"
        required
      />
    </div>
    <button type="submit" class="align-self-end d-block btn btn-success">Nhập thể loại</button>
  </form>
</div>