<div class="container d-flex flex-column">
  <div class="form">
    <div class="row gap-3">
      <input
        type="text"
        class="col-7 form-control"
        placeholder="Enter key word..."
        required
      />
      <button type="submit" class="col btn btn-primary">Tra cứu</button>
    </div>
  </div>

  <div class="query-result mt-5">
    <h5 class="text-center mb-3">KẾT QUẢ TRA CỨU</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Tên thể loại</th>
          <th scope="col">Số sản phẩm</th>
          <th scope="col">Xóa</th>
          <th scope="col">Chỉnh sửa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1</td>
          <td>temp</td>
          <td>temp</td>
          <td><i class="fas fa-trash"></i></td>
          <td><i class="fas fa-edit"></i></td>
      
        </tr>

        <tr>
          <th scope="row">2</th>
             <td>2</td>
          <td>temp</td>
          <td>temp</td>
          <td><i class="fas fa-trash"></i></td>
          <td><i class="fas fa-edit"></i></td>     
        </tr>

        <tr>
          <th scope="row">3</th>
               <td>3</td>
          <td>temp</td>
          <td>temp</td>
          <td><i class="fas fa-trash"></i></td>
          <td><i class="fas fa-edit"></i></td>      
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>3</td>
          <td>temp</td>
          <td>temp</td>
          <td><i class="fas fa-trash"></i></td>
          <td><i class="fas fa-edit"></i></td>     
        </tr>
      </tbody>
    </table>
  </div>
  <select class="col-2 align-self-center form-select">
    <option value="page-1">Page 1</option>
    <option value="page-2">Page 2</option>
    <option value="page-3">Page 3</option>
  </select>
</div>