<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post" action="/signup">


                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Đăng ký</p>
                    </div>


                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="Username">Username</label>
                        <input name="Username" type="text" id="Username" class="form-control form-control-lg"
                            placeholder="Nhập username"/>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="Email">Email</label>
                        <input name="Email" type="text" id="Email" class="form-control form-control-lg"
                            placeholder="Nhập email"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="Password">Password</label>
                        <input name="Password" type="password" id="Password" class="form-control form-control-lg"
                            placeholder="Nhập password"/>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-success btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="submitForm()">
                            Đăng ký
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<script>
    const form = document.querySelector('form');
    let username = document.getElementById('Username');
    let email = document.getElementById('Email');
    let password = document.getElementById('Password');

    async function submitForm()
    {
        const isValid = await validateForm();
        
        if (isValid)
        {
            form.submit();
        }
    }

    function handleInvalidInput(input, errorMessage) { 
        input.setCustomValidity(errorMessage);
        input.reportValidity();
    }

    async function validateForm() {
      
        // Username
        const usernameRegex = /^\S+$/;
        const checkUNExsist = await fetch(`https://localhost:3000/checkUsernameExists?username=${username.value}`);
        const checkUN = await checkUNExsist.json();
        const resUN = checkUN.result;

        if (resUN == 1)
        {
            handleInvalidInput(username, 'Username đã tồn tại, vui lòng nhập username khác.');
            return false;
        }
        else if (username.value === '') {
            handleInvalidInput(username, 'Vui lòng nhập username.');
            return false;
        }
        else if (!usernameRegex.test(username.value)) {
            handleInvalidInput(username, 'Username không chứa dấu cách.');
            return false;
        }
        else
        {
            handleInvalidInput(username, '');
        }

        
        // Email
        const emailRegex = /^[a-z][a-z0-9_\.]{0,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,}){1,3}$/;
    
        if (email.value == '')
        {
            handleInvalidInput(email, 'Vui lòng nhập email.');
            return false;
        }
        else if (!emailRegex.test(email.value))
        {
            handleInvalidInput(email, 'Email không hợp lệ.');
            return false;
        }
        else
        {
            handleInvalidInput(email, '');
        }


        // Password
        if (password.value == '')
        {
            handleInvalidInput(password, 'Vui lòng nhập password.');
            return false;
        }
        else if (!usernameRegex.test(password.value)) {
            handleInvalidInput(password, 'Password không chứa dấu cách.');
            return false;
        }
        else
        {
            handleInvalidInput(password, '');
        }


        return true;
    }

</script>