<div class="container">
  <form class="d-flex flex-column" method="post" action="/topUp">

    <div class="mb-3 row align-items-center">
      <label class="form-label col-2 m-0">Số tiền nạp: </label>
      <input
        type="number"
        min="10000"
        
        class="form-control col-6"
        placeholder="Nhập số tiền (VNĐ)"
        name = "Amount"
        required
      />
    </div>

    

    <button type="submit" class="align-self-center d-block btn btn-success">Nạp tiền</button>
  </form>
    
</div>