<div class="container">
  <div
    class="container d-flex justify-content-center flex-column align-items-center bg-white w-75 p-4 rounded-3"
  >
    <img
      style="width: 200px; "
      src="https://cdn.pixabay.com/photo/2016/01/20/18/59/confirmation-1152155_1280.png"
      alt=""
    />
    <h5 class="text-center p-3">{{notification}}</h5>
    <a {{#if admin}} href="/admin" {{else}} href="/" {{/if}} class="btn btn-success">Quay Lại Trang Chủ</a>
  </div>
</div>