USE [master]
GO
/****** Object:  Database [Project_Web]    Script Date: 1/27/2024 8:48:33 AM ******/
CREATE DATABASE [Project_Web]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_Web].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_Web]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] NULL,
	[UserID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NULL,
	[CategoryName] [nvarchar](200) NULL,
	[CategoryQuantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[OrderDetailID] [int] NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NULL,
	[UserID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentAccount]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[Products]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NULL,
	[ProductName] [nvarchar](200) NULL,
	[CategoryID] [int] NULL,
	[StockQuantity] [int] NULL,
	[Author] [nvarchar](200) NULL,
	[PublishedYear] [int] NULL,
	[Image] [nvarchar](200) NULL,
	[Price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopUp]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopUp](
	[TopUpID] [int] NULL,
	[UserID] [int] NULL,
	[Amount] [int] NULL,
	[TopUpDay] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/27/2024 8:48:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NULL,
	[GoogleID] [nvarchar](200) NULL,
	[Username] [nvarchar](200) NULL,
	[GoogleName] [nvarchar](200) NULL,
	[Password] [nvarchar](300) NULL,
	[Email] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Carts] ([CartID], [UserID], [ProductID], [Quantity]) VALUES (1, 2, 2, 2)
INSERT [dbo].[Carts] ([CartID], [UserID], [ProductID], [Quantity]) VALUES (2, 3, 4, 1)
INSERT [dbo].[Carts] ([CartID], [UserID], [ProductID], [Quantity]) VALUES (3, 3, 5, 3)
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryQuantity]) VALUES (1, N'Tiểu thuyết', 10)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryQuantity]) VALUES (2, N'Nấu ăn và ẩm thực', 10)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryQuantity]) VALUES (3, N'Khoa học và thiên văn', 10)
GO
INSERT [dbo].[Order_Detail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 2, 2, 52000)
INSERT [dbo].[Order_Detail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 2, 3, 1, 25000)
INSERT [dbo].[Order_Detail] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 3, 10, 2, 374400)
GO
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount]) VALUES (1, 2, CAST(N'2024-10-01T13:30:20.000' AS DateTime), 104000)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount]) VALUES (2, 3, CAST(N'2024-01-15T14:00:00.000' AS DateTime), 1165000)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount]) VALUES (3, 4, CAST(N'2023-12-25T15:00:00.000' AS DateTime), 748800)
GO

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [StockQuantity], [Author], [PublishedYear], [Image], [Price]) VALUES (1, N'Nhà giả kim', 1, 11, N'Paulo Coelho', 1988, N'Image01.jpg', 64000)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [StockQuantity], [Author], [PublishedYear], [Image], [Price]) VALUES (2, N'The Diary of a Young Girl', 5, 10, N'Anne Frank', 1947, N'Image02.jpg', 136800)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [StockQuantity], [Author], [PublishedYear], [Image], [Price]) VALUES (3, N'So That Happened', 7, 8, N'Katie Bailey', 2022, N'Image03.jpg', 246000)
GO
INSERT [dbo].[Users] ([UserID], [GoogleID], [Username], [GoogleName], [Password], [Email], [Role]) VALUES (1, NULL, N'admin', NULL, N'$2b$13$qifQHJCc4vWLL5eGeMxNGuFsYQ0De8/jQGrNfyWyQhqbQmxELlmcW', N'admin@gmail.com', N'Admin')
INSERT [dbo].[Users] ([UserID], [GoogleID], [Username], [GoogleName], [Password], [Email], [Role]) VALUES (2, NULL, N'tcv123', NULL, N'$2b$13$dll5R6KoJozfEfk2ZDpBD.K.htZ/sOcDIrx2tUohe1aqyXieTpJhq', N'congviet990ntt@gmail.com', N'Client')
INSERT [dbo].[Users] ([UserID], [GoogleID], [Username], [GoogleName], [Password], [Email], [Role]) VALUES (5, NULL, N'abc', NULL, N'$2b$13$.j1daNnzW6jL1FkAAvwvYOngo4QjJUZ9B.6pKIZMFV.NsnyMBS1Na', N'abc123@gmail.com', N'Client')
GO
USE [master]
GO
